<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/images/who-logo-trans-text.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.header-text }}</span>
          <hr class="star-light" />
          <div id="app"></div> 
         <!-- 
        </div>
          <span class="skills">{{ site.skills }}</span> 
        </div> 
        <div id=typew class="typewriter-text">
          <span class="name">{{ site.skills }}</span>
          <hr class="star-light" />
        </div>
        -->
        </div>
        <ul class="list-inline">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
</header>
